@charset "utf-8";
/* CSS Document */

body {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 1.5;
  background-color: #fdfdfd;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #333;
}
a {
	color: #00a680;
	text-decoration: none;
}
a:hover, a:focus {
	color: #004f3c;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/* ====================== Grid ====================== */
.container {
  width: 100%;
}
.content {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer {
  background-color: #ccc;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #00a680;
  text-align: center;
  display: flex;
  align-items: center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}
#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 1.7em;
  margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* ====================== Map ====================== */
.content .map-container {
  width: 100%;
}
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.restaurant-container {
  width: 100%;
}
.filter-options {
  background-color: #018e6e;
  align-items: center;
  padding: 10px;
}
.filter-options h2 {
  color: white;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1.2em;
  height: 35px;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 15px;
  text-align: left;
  width: 270px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #00a680;
  font-family: Arial,sans-serif;
  font-size: 2.5em;
  font-weight: 200;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 2.2em;
}
#restaurants-list li a {
  border-color: #fc0 #e4a000 #e4a000 #fc0;
  background-color: #fc0;
  color: #000;
  display: inline-block;
  font-size: 2em;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list li a:hover {
  background-color: #eabb00;
}

/* ====================== Restaurant Details ====================== */
.restaurant-hours-container {
  background-color:#FFF;
  padding:15px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e5e5;
}
.inside #map {
  background-color: #ccc;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: #00a680;
  font-family: Arial,sans-serif;
  font-size: 2em;
  font-weight: 200;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
  max-width: 600px;
}
#restaurant-address {
  font-size: 1.5em;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #fff;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}
#restaurant-container, #reviews-container {
  padding: 15px 40px 30px;
  width: 80%;
  max-width: 700px;
  text-align: center;
}
#reviews-container {
  padding: 15px 40px 80px;
}
#reviews-container h2 {
  color: #00a680;
  font-size: 2em;
  font-weight: 200;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#reviews-list {
  margin: auto;
  padding: 0;
}
#reviews-list li {
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e5e5;
  background: #FFF;
  display: block;
  font-size:1.7em;
  list-style-type: none;
  margin: 0 auto 10px;
  overflow: hidden;
  padding: 0 0 20px;
  position: relative;
  max-width: 500px;
}
#reviews-list li p {
  text-align: left;
  margin: 15px;
}
#reviews-list li h2 {
  text-align: left;
  margin: 15px 0 5px 15px;
  color: #333;
  font-size: 1.5em;
  font-weight: 200;
  text-transform: none;
}
#reviews-list li h3 {
  text-align: left;
  margin: 0 0 0 15px;
  color: #333;
  font-size: 1.25em;
  font-weight: 200;
}
#restaurant-hours td {
  text-align: left;
  font-size:1.3em;
}
@media screen and (min-width: 839px) {
  #restaurant-container,
  #reviews-container {
    width: 40%;
  }
}
